vendor/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
*.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
*.wsuo
/.vs/training-github-games/v17/DocumentLayout.json
/.vs/training-github-games/v17/.suo
/.vs/training-github-games/FileContentIndex/read.lock
